StrictHostKeyChecking no
Host yg2
HostName yg2
User sren

Host yg3
HostName yg3
User sren

Host yg4
HostName yg4
User sren

Host yg5
HostName yg5
User sren

Host yga
HostName yga
User sren

# 6906项目
Host x0
HostName x0
User lccy

Host x2
HostName x2
User lccy

# 频谱服务端
Host ppjs
HostName yg4
User ppjs

Host pp0
HostName pp0
User hthx

Host pp1
HostName pp1
User hthx

Host pp2
HostName pp2
User hthx

Host pp3
HostName pp3
User hthx

# Pi
Host pi
HostName pi
User pi
